@charset "UTF-8";
body {
  margin: 30px;
  font-family: sans-serif;
}

.tree {
  /* font-size: 1.5em; */
  margin: 1em;
}
.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}
.tree input ~ ul {
  display: none;
}
.tree input:checked ~ ul {
  display: block;
}
.tree ul li {
  padding: 1em 0 0 1em;
}
.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 1em 1em;
}
.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -.5em;
  display: block;
  width: 0;
  border-left: 1px solid #777;
  content: "";
}
.tree li:last-child:before {
  height: 1em;
  bottom: auto;
}
.tree > li:last-child {
  padding-bottom: 0;
}
.tree > li:last-child:before {
  display: none;
}

.tree_label {
  position: relative;
  display: inline-block;
  background: #fff;
}
.tree_label:after {
  position: absolute;
  top: 0;
  left: -1.5em;
  display: block;
  height: 0.5em;
  width: 1em;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  content: '';
}

:checked ~ label.tree_label:before {
  content: '–';
}

:checked ~ label.tree_label:after {
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 0;
  border-left: 0;
  /* bottom: 0; */
  top: 0.5em;
  height: auto;
}

label.tree_label {
  cursor: pointer;
}
label.tree_label:hover {
  color: #666;
}
label.tree_label:after {
  border-bottom: 0;
}
label.tree_label:before {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1em;
  height: 1em;
  content: '+';
  text-align: center;
  line-height: .9em;
}

.tree_custom {
  display: block;
  background: #eee;
  padding: 1em;
}

ul{
	list-style-type:none;
	}
	

